:root {
  --Green-200-lighter: hsl(148, 38%, 91%);
  --Green-600-medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  --White: hsl(0, 0%, 100%);
  --Grey-500-medium: hsl(186, 15%, 59%);
  --Grey-900-darker: hsl(187, 24%, 22%);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  background-color: var(--Green-200-lighter);
  padding: 2em;
}

.form {
  margin: auto;
  border-radius: 1em;
  max-width: 600px;
  background-color: white;
  border: 1px solid;
}

.form h1 {
  padding: 0.3em 0 0 0.3em;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.form-group label {
  margin-bottom: 0.6em;
}

.form-group input {
  padding: 0.7em 0.4em;
  border-radius: 0.6em;
  border: none;
  border: 1px solid;
}

.radio-group {
  border: 1px solid;
  flex: 1;
  padding: 0.6em;
  border-radius: 1em;
}

.form-group-radio {
  display: flex;
  flex: 1;
  gap: 0.5em;
  justify-content: space-between;
}

#message {
  border-radius: 1em;
}

.form-checkbox {
  display: flex;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
}

input[type=radio] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

input[type=radio] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Green-600-medium);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

input[type=radio]:checked + label::before {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.radioStyle {
  background-color: var(--Green-200-lighter);
}

.form-checkbox #consent {
  margin-right: 1em;
}

.submit {
  display: flex;
}

.submit button {
  padding: 0.8em 1em;
  margin: 1.3em auto;
  font-size: 1rem;
  width: 85%;
  background-color: var(--Green-600-medium);
  border-radius: 0.7em;
  color: white;
  border: none;
}

span {
  margin-top: 0.2em;
  color: red;
  padding: 0.2em;
  margin-left: 0.5em;
  font-weight: bold;
}

textarea {
  padding: 1em;
}

.inputStyle {
  background-color: var(--Green-200-lighter);
}

input:hover, textarea:hover, .inputStyle:hover {
  cursor: pointer;
}

.form-checkbox {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.messageAlert {
  border: 1px solid;
  max-width: 26em;
  border-radius: 1em;
  padding: 0 0.9em 0.9em 0.9em;
  position: fixed;
  margin: auto;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0.7;
  background-color: var(--Grey-900-darker);
  color: var(--White);
  display: none;
}

.showMessage {
  display: block;
}

.tickImage {
  display: flex;
  margin-bottom: 0.6em;
  padding-top: 0.5em;
}

.tickImage h1 {
  font-size: 1.2rem;
}

.messageAlert p {
  font-size: 0.8rem;
}

.tickImage img {
  padding-right: 1em;
}

@media (max-width: 600px) {
  .form-row, .form-group-radio {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
